RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
TRATAMENTO_API_BASE_URL=http://localhost:8080/api/v1/
# Configurações de E-mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=meu@gmail.com
MAIL_PASSWORD=XXXXYYYYZZZZWWWW
# Configurações de Alertas
ALERTA_EMAIL_DESTINATARIO=meu@gmail.com